<!-- This is used as the file preview template -->
<div>
    <span class="preview"><img data-dz-thumbnail /></span>
</div>
<div>
    <p class="name" data-dz-name></p>
    <strong class="error text-danger" data-dz-errormessage></strong>
</div>
<div>
    <p class="size" data-dz-size></p>
</div>
<div>
    <button data-dz-remove class="btn btn-danger delete">
        <span>{_'Odstranit'}</span>
    </button>
</div>