<div id="actions" class="row">
    <div class="col col-xs-12">
        <span class="btn btn-success {$id}-vojtys-dropzone-clickable dz-clickable">
            <span class="upload-btn-label">{_'Vybrat soubory'}</span>
        </span>
        <button type="submit" class="btn btn-primary start">
            <span>{_'Nahrát'}</span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
            <span>{_'Odstranit vše'}</span>
        </button>
    </div>
</div>